@{
    ViewData["Hey"] = "Privacy Policy";
}
<!-- This is the privacy page that I made! --> 
<h2>Copyright & Ownership</h2>
<p>
    This website and its content, including text, images, and design, are the property of Madison Palmer.
    Unauthorized use, reproduction, or distribution of any content without permission is prohibited.
</p>
<p>
    This site was built as part of an IS 413 project and is for educational purposes.
</p>


<footer>
    <p>&copy; @DateTime.Now.Year Madison Palmer. All rights reserved.</p>
    <p>Website built by Madison Palmer as part of an IS 413 project.</p>
</footer>
